beautifulsoup4
biopython==1.77
boto3
django-bootstrap4
django-debug-toolbar
django-ses
django-sesame
django-settings-export
Django>=2
git+https://github.com/krisys/django-error-email-throttle.git@master
httmock
openpyxl
pandas
psycopg2-binary
PyMySQL
requests
requests_cache
sample_sheet
xlrd