beautifulsoup4
biopython
boto3
django-bootstrap4
django-debug-toolbar
git+https://github.com/krisys/django-error-email-throttle.git@master
django-ses
django-settings-export
Django>=2
httmock
openpyxl
pandas
psycopg2-binary
requests
requests_cache
sample_sheet
xlrd