# These Django commands are run on deploy.
container_commands:
  00_chown:
    command: "chmod -R 775 ."
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
