# see https://aws.amazon.com/premiumsupport/knowledge-center/cron-job-elastic-beanstalk/
files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 0 * * * root /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            date > /tmp/date
            # Your actual script content

            cd /opt/python/current/app/crispresso/fastqs/ && rm -rf

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
