{% extends 'base.html' %}

{% block title %}404 Error{% endblock %}

{% block h1 %}404: Not Found{% endblock %}

{% block content %}

<p>The resource you requested was not found. Try looking in your account index <a href="/main/">index</a>, or try logging in as a different user.

<p>If you think there was an error, please email <a href="mailto:{{ settings.ADMIN_EMAIL }}?subject=CrispyCrunch%20Error">gdingle@chanzuckerberg.com</a> with details of what you were trying to find.</p>

{% endblock %}
