{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{{request.resolver_match.url_name}}{% endblock %}</title>
  <link rel="shortcut icon" href="/static/biohub-icon.png" />
  {# Override global base font size. See https://stackoverflow.com/questions/28678542/how-to-change-bootstraps-global-default-font-size. #}
  <style type="text/css">
    html {
      font-size: 18px;
    }
  </style>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='slim' %}
  {% block head %}{% endblock head %}
</head>

<body style="padding: 2em;">
  {# TODO: remove unnused logos #}
  <a href="https://www.czbiohub.org/">
    <img src="/static/biohub-logo-2.jpg" class="float-right col-sm-2" />
  </a>

  <h1>
    {% block h1 %}{{request.resolver_match.url_name}}{% endblock %}
  </h1>

  <hr />

  {% bootstrap_messages %}

  {% block intro_content %}

  {% endblock intro_content %}

  {% block content %}

  {% if form.is_multipart %}
  <form enctype="multipart/form-data" method="post" class="form col-sm-8">
  {% else %}
  <form method="post" class="form col-sm-12">
  {% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Save & Continue
      </button>
      {# TODO (gdingle): "continue to {next step}" #}
      {# TODO (gdingle): "back to {prev step}" #}
    {% endbuttons %}
  </form>
  {% endblock %}

  {% block optional_content %}
  {% endblock %}

  <hr />
  <footer class="text-center">
    <a class="col-sm-2" href="/">Home</a>
    <a class="col-sm-2" href="/main/">Index</a>
    <a class="col-sm-2" href="/main/experiment">Experiment</a>
    <a class="col-sm-2" href="/main/analysis">Analysis</a>
    <a class="col-sm-2" href="mailto:gdingle@chanzuckerberg.com?subject=CrispyCrunch">Contact</a>
  </footer>
</body>
</html>