{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="text/javascript">
    // Redirect public traffic to HTTPS
    {# TODO (gdingle): make crispycrunch.czbiohub.org a setting #}
    if (location.hostname == 'crispycrunch.czbiohub.org'
        && location.protocol != 'https:') {
      console.log('Redirecting to HTTPS');
      location.protocol = 'https:';
    }
  </script>

  <title>{% block title %}{{request.resolver_match.url_name}}{% endblock %}</title>
  <link rel="shortcut icon" href="/static/biohub-icon.png" />
  {# Override global base font size. See https://stackoverflow.com/questions/28678542/how-to-change-bootstraps-global-default-font-size. #}
  <style type="text/css">
    html {
      font-size: 18px;
    }
    {#  TODO: still want this given all fields now required?
    .form-group.required label:after {
      content:" *";
      color:red;
    }#}
  </style>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='slim' %}
  {% block head %}{% endblock head %}
</head>

<body style="padding: 2em;">
  <div class="float-right m-3">
    <a tabindex="-1" href="https://www.czbiohub.org/">
      <img src="/static/biohub-logo-2.jpg" width="100" class="d-inline align-middle mr-2" />
    </a>
    {% if request.user.is_authenticated %}
    <a href="/main/" class="btn btn-outline-primary btn-sm" tabindex="-1">Account</a>
    <a href="/accounts/logout/" class="btn btn-primary btn-sm" tabindex="-1">Logout</a>
    {% else %}
    <a href="/main/signup/" class="btn btn-outline-primary btn-sm" tabindex="-1">Signup</a>
    <a href="/accounts/login/" class="btn btn-outline-primary btn-sm" tabindex="-1">Login</a>
    {% endif %}
    <br />
  </div>

  <h1>
    {% block h1 %}
    {{request.resolver_match.url_name}}
    {% endblock %}
  </h1>

  <hr />

  {% bootstrap_messages %}

  {% block intro_content %}

  {% endblock intro_content %}

  {% block content %}

  {% if form.is_multipart %}
  <form enctype="multipart/form-data" method="post" class="form col-sm-8">
  {% else %}
  <form method="post" class="form col-sm-12">
  {% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        {% block button_label %}
        Save & Continue
        {% endblock button_label %}
      </button>
      {# TODO (gdingle): "continue to {next step}" #}
      {# TODO (gdingle): "back to {prev step}" #}
    {% endbuttons %}
  </form>
  {% endblock %}

  {% block optional_content %}
  {% endblock %}

  <hr />
  <footer class="text-center">
    <a tabindex="-1" class="col-sm-2" href="/">Home</a>
    <a tabindex="-1" class="col-sm-2" href="/howto/">How To</a>
    <a tabindex="-1" class="col-sm-2" href="/main/">Account</a>
    <a tabindex="-1" class="col-sm-2" href="/main/experiment">Experiment</a>
    <a tabindex="-1" class="col-sm-2" href="/main/analysis">Analysis</a>
    <a tabindex="-1" class="col-sm-2" href="mailto:{{ settings.ADMIN_EMAIL }}?subject=CrispyCrunch">Contact</a>
    <a tabindex="-1" class="col-sm-2" href="https://github.com/czbiohub/crispycrunch">GitHub</a>
    <p>
      <a tabindex="-1" href="https://www.czbiohub.org/">
        <img src="/static/biohub-logo-2.jpg" width="200" class="m-4" />
      </a>
    </p>
  </footer>
</body>
</html>