  {% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{request.resolver_match.url_name}}{% endblock %}</title>
  <link rel="shortcut icon" href="/static/biohub-icon.png" />
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='slim' %}
  {% block head %}{% endblock head %}
</head>

<body style="padding: 2em;">
  {# TODO: remove unnused logos #}
  <a href="https://www.czbiohub.org/">
    <img src="/static/biohub-logo-2.jpg" class="float-right col-sm-2" />
  </a>

  <h1>
    {{request.resolver_match.url_name}}
  </h1>

  <!-- TODO: messages on success and failure -->
  {% bootstrap_messages %}

  {% block intro_content %}

  {% endblock intro_content %}

  {% block content %}

  {% if form.is_multipart %}
  <form enctype="multipart/form-data" method="post" class="form col-sm-8">
  {% else %}
  <form method="post" class="form col-sm-8">
  {% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Save & Continue
      </button>
    {% endbuttons %}
  </form>
  {% endblock %}

  {% block optional_content %}
  {% endblock %}
</body>
</html>