{% extends 'base.html' %}

{% block head %}
{# Refresh the page to refetch the current status #}
<meta http-equiv="refresh" content="1">
{% endblock head %}

{% block content %}
<p>
  <em>This page wil refreshes every second until all tasks are completed.</em>
</p>

<h3>
  {{ completed|length }} out of {{ statuses|length }} tasks completed
</h3>

{% if incomplete %}
<h5>
  Incomplete
</h5>
<ul>
  {% for target in incomplete %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if completed %}
<h5>
  Completed
</h5>
<ul>
  {% for target in completed %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
