{% extends 'base.html' %}

{% block head %}
{# Refresh the page to refetch the current status #}
<meta http-equiv="refresh" content="1">
{% endblock head %}

{% block content %}
<p>
  <em>This page wil refreshes every second until all tasks are completed. If progress stops, go back and try again.</em>
</p>

<h3>
  {{ completed|length }} out of {{ statuses|length }} tasks completed
</h3>
{# TODO: put in html progress bar #}

{% if errorred %}
<h5>
  Errorred
</h5>
<ul>
  {% for target in errorred %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if running %}
<h5>
  Running
</h5>
<ul>
  {% for target in running %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% elif incomplete %}
<h5>
  Incomplete
</h5>
<ul>
  {% for target in incomplete %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if completed %}
<h5>
  Completed
</h5>
<ul>
  {% for target in completed %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
