{% extends 'base.html' %}

{% block head %}
{# Refresh the page to refetch the current status #}
<meta http-equiv="refresh" content="5">
{% endblock head %}

{% block content %}
<p>
  <em>This page will refresh every 5 seconds until all tasks are completed. If progress stops, go back and try again.</em>
</p>

<h3>
  {{ completed|length }} out of {{ statuses|length }} tasks completed
</h3>

{% if percent_success or percent_error %}
<p>
  <div class="progress w-25">
    <div
      class="progress-bar progress-bar-striped"
      role="progressbar"
      style="width:{{ percent_success }}%"
      aria-valuenow="{{ percent_success }}"
      aria-valuemin="0"
      aria-valuemax="100"></div>
    <div
      class="progress-bar progress-bar-striped bg-danger"
      role="progressbar"
      style="width:{{ percent_error }}%"
      aria-valuenow="{{ percent_error }}"
      aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
</p>
{% endif %}

{% if errorred %}
<h5>
  Errorred
</h5>
<ul>
  {% for target in errorred %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if running %}
<h5>
  Running
</h5>
<ul>
  {% for target in running %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% elif incomplete %}
<h5>
  Incomplete
</h5>
<ul>
  {% for target in incomplete %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if completed %}
<h5>
  Completed
</h5>
<ul>
  {% for target in completed %}
  <li>{{ target }}</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
