{% extends 'base.html' %}


{# TODO: refactor with primer-selection? #}
{% block intro_content %}

<ol>
  <li>Review
    <a href="#collapsibleLinks" data-toggle="collapse">
      Crispor recommended guides
    </a>
      {# TODO: wrap into two cols #}
      <ul id="collapsibleLinks" class="small collapse">
        {% for target, url in crispor_urls.items %}
        <li>
          <a target="_blank" href="{{ url }}">
            {{ target }}
          </a>
        </li>
        {% endfor %}
      </ul>
  </li>
  <li>
    Decide which guides to use
  </li>
  <li>
    Modify sets of guides below as needed
  </li>
  <li>
    Optional: Replace any "<strong>not found</strong>" with custom guides or remove
  </li>
</ol>

{% endblock intro_content %}

