{% extends 'base.html' %}

{% block content %}

<h2>Experiments</h2>
<ul>
{% for experiment in object_list %}
  <li><a href="/main/experiment/{{ experiment.id }}/summary/">
    {{ experiment }}
  </a></li>
{% endfor %}
</ul>

<h2>Analyses</h2>
<ul>
{% for analysis in analyses %}
  <li><a href="/main/analysis/{{ analysis.id }}/results/">
    {{ analysis }}
  </a></li>
{% endfor %}
</ul>

<hr></hr>
{# TODO better footer #}
<p>
  <a href="/main/experiment">New experiment</a>
</p>
<p>
  {# TODO: prefill experiment ID? #}
  <a href="/main/analysis">Analysis</a>
</p>

{% endblock %}
