{% extends 'base.html' %}

{% block h1 %}
{{ request.user|title }}'s account
{% endblock h1 %}

{% block content %}

{# TODO (gdingle): make specific to logged in user #}

<h2>Experiments</h2>
<ul>
{% for experiment in experiments %}
  <li>
    <a href="{{ experiment.get_current_step }}">
    {{ experiment }}</a>
    <form class="d-inline" action="/main/experiment/{{ experiment.id }}/delete" method="post">
      {% csrf_token %}
      <button class="text-muted small text-uppercase btn btn-link" role="link" type="submit" value="Submit">
        delete
      </button>
    </form>
  </li>
{% empty %}
  None yet
{% endfor %}
</ul>

<h2>Analyses</h2>
<ul>
{% for analysis in analyses %}
  <li>
    <a href="/main/analysis/{{ analysis.id }}/results/">
      {{ analysis }}
    </a>
    <form class="d-inline" action="/main/analysis/{{ analysis.id }}/delete" method="post">
      {% csrf_token %}
      <button class="text-muted small text-uppercase btn btn-link" role="link" type="submit" value="Submit">
        delete
      </button>
    </form>
  </li>
{% empty %}
  None yet
{% endfor %}
</ul>

<h2>Account</h2>
<ul>
  <li><a href="/accounts/password_change/">Change password</a></li>
  {# TODO (gdingle): change email address to maintainer email var in settings #}
  <li>
    <a href="mailto:{{ settings.ADMIN_EMAIL }}?subject=CrispyCrunch%20Delete%20Account">Delete account</a>
  </li>
  <li>
    <a href="mailto:{{ settings.ADMIN_EMAIL }}?subject=CrispyCrunch%20Delete%20Object">Delete experiment or analysis</a>
  </li>
</ul>

{% endblock %}
